.webix_dtable_focused .webix_column > div.webix_row_select, .webix_dtable_focused .webix_column > div.webix_column_select {
    background: #228B22;
    color: #ffffff;
}
.webix_ss_header, .webix_ss_header TD, .webix_ss_vscroll_header, .webix_dd_drag_column {
    font-family: Arial, sans-serif;
    font-size: 20px;
    background: #ffffff;
    opacity: 0.6;
    text-transform: uppercase;
 
}
.webix_dtable .webix_ss_header td.webix_last_row {
    border-bottom: none;
}
.webix_cell {
	font-weight: 400;
    font-size: 16px;
    text-align: center;  
    color: #000000;

}
.webix_hcell {
	text-align: center;
}
/*кнопки сверху*/
.webix_secondary .webix_button {
    background: #228B22;
    color: #ffffff;
    border-radius: 6px;
    text-align: right;
    padding-right: 15px;
}

.webix_el_button[view_id="updatebtn"], 
.webix_el_button[view_id="updatebtn"] > div {
	width: 120px !important;
}

.webix_el_button[view_id="updatebtn"] button::before {
	width: 16px;
	height: 16px;
	content:'';
	background-image: url("/data/images/icon1.svg");
	position: absolute;
    left: 9px;
    top: 16px;
}

.webix_el_button[view_id="exportbtn"],
.webix_el_button[view_id="exportbtn"] > div {
	width: 270px !important;
}
.webix_el_button[view_id="exportbtn"] button::before {
	width: 16px;
	height: 16px;
	content:'';
	background-image: url("/data/images/icon2.svg");
	position: absolute;
   left: 9px;
   top: 16px;
}

.webix_el_button[view_id="exportexcelbtn"], 
.webix_el_button[view_id="exportexcelbtn"] > div {
	width: 230px !important;
}

.webix_el_button[view_id="exportexcelbtn"] button::before {
	width: 16px;
	height: 16px;
	content:'';
	background-image: url("/data/images/icon3.svg");
	position: absolute;
    left: 9px;
    top:16px;
} 

.webix_el_box input{
	background: #EBEDF0;
	border: none;
	font-size: 25px;
	color: #000000;
	font-family: Arial;
	padding-left: 50px;
	opacity: 0.6;
	font-weight: 600;
}

